@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body {
  border: 12px solid #816caa;
  min-height:100vh;
  width:100%;
  margin: 0 auto;
  
}

* {
  box-sizing: border-box;
}

.main {
    padding: 45px 5px 0;
     display:flex;
      flex: 0;
  flex-wrap:wrap;
  
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
}

.box {
  color:white;
   flex: 0;
  font-size: 100%;
  text-align: center;
  padding:10px;
  margin:10px;
  height:220px;
  text-align:left;
  line-height: 1.29;
  font-family: Roboto
}

.container {
  display:flex;
  flex-wrap:wrap;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  position:relative;
}

.box1 {
  /*flex-basis:200px;*/
  flex:1 0 25%;
  order:1
}

.box2 {
  /*flex-basis:200px;*/
   flex:1 0 25%;
  order:2;
}

.box3 {
  /*flex-basis:200px;*/
   flex:1 0 25%;
  order:3;
  color:#fff;
  /*font-weight:900;*/
}

.box4 {
  /*flex-basis:420px;*/
   flex:1 0 35%;
  order:4
}

.box5, .box6 {
  flex-basis:20px;
  flex:1 0 15%;
  order:5;
  font-size:140%;
  /*border:2px solid black;*/
  font-family: 'Cormorant Garamond';
  text-align:center
}

a {
  text-decoration:none;
  color:white
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

@media all and (min-width:920px) and (min-width:920px) {
  .box {
    font-size: 100%;
    font-weight:900;
    overflow:scroll
  }
}



@media all and (max-width:920px) {
  
  .box {
    font-size: 100%;
  }
  .box1, .box2, .box3{
    flex: 1 0 80%
  }  

  .box4, {
    flex: 1 0 100%
  }

  .box5, box6 {
    flex: 1 0 60%;
  }
}

@media all and (max-width:500px) {
  
  .box1, .box2 {
    flex: 1 0 80%
  }  
  .box3 {
    flex: 1 0 80%
  }

  .box4{
    flex:1 0 80%
  }
}